<%- include ("./partials/navbar"); %>
<%- include ("./partials/headingbar"); %>

<div class="wrapper">
    <!-- end of logo -->
    <!-- search container -->
    <div class="search-container">
        <div class="search-element">
            <h3><i class="fa-solid fa-magnifying-glass"></i> Search here <%= user.name %> :</h3>
            <input type="text" class="form-control" placeholder="Search Movie Title..." id="movie-search-box"
                onkeyup="findMovies()" onclick="findMovies()">

            <div class="search-list" id="search-list">
                <!-- list here -->
                <!-- <div class = "search-list-item">
                        <div class = "search-item-thumbnail">
                            <img src = "medium-cover.jpg">
                        </div>
                        <div class = "search-item-info">
                            <h3>Guardians of the Galaxy Vol. 2</h3>
                            <p>2017</p>
                        </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- end of search container -->
    <!-- result container -->
    <div class="container">
        <div class="result-container">
            <div class="result-grid" id="result-grid">
                <!-- movie information here -->
                
            </div>
        </div>
    </div>
    <!-- end of result container -->
</div>
<script src="../static/script.js"></script>
